
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row my-auto" style="margin-top:500px;">
                      <div class="text-center">
                          <h1 class="h1 text-white">Welcome to Car Rental System</h1>
                          <h2 class="h2 text-white">ADMIN PANEL</h2>
                      </div>
</div>

