
@{
    ViewData["Title"] = "UserLogin";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-5 mx-auto">
            <div class="card">
                <div class="card-header text-center bg-black text-white lead">User Login</div>
                <div class="card-body p-5">
                    <form>
                        <div class="mb-3">
                            <label for="adminEmail" class="form-label text-black">User Email</label>
                            <input type="text" class="form-control" required="required" id="userEmail" name="userEmail" @*aria-describedby=""*@>
                            @*<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>*@
                        </div>
                        <div class="mb-3">
                            <label for="adminPass" class="form-label text-black">Password</label>
                            <input type="password" required="required" class="form-control" id="userPass" name="userPass">
                        </div>
                        <input type="button" class="btn btn-primary" id="userlgnbtn"  value="Login"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("body").on("click", "#userlgnbtn", function () {
       let email1 = $("#userEmail").val();
            var Details = {Email: $("#userEmail").val()  , UserPassword:   $("#userPass").val()};
        $.ajax({
           
                type: "POST",
                url: "http://localhost:51524/api/UserLogin",

                data: JSON.stringify(Details),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var result = JSON.stringify(response);
                    //alert(result);
                    localStorage.setItem("atoken", response.data)
                    if(result == 0)
                    {
                        alert("Wrong credentials");

                    }
                    else{
                        sessionStorage.setItem('userEmail',email1);
                        alert("Logged In Successfully ");
                        
                        window.location.replace("https://localhost:7093/User");
                    }
                    
                },
                error: function (response) {
                    alert("error"+response.responseText);
                }
          });
        });
    
</script>



@*JWT kachra*@

@*<script type="text/javascript">
        $(document).ready(function () {
            //$.ajax({
            //    type: "GET",
            //    url: "https://localhost:44329/api/GetToken12",
            //    dataType: "json",
            //    contentType: "application/json",
            //    // headers: { "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJhMzczM2U2Ny1hNDllLTQxNzUtOGQ4NS1jNzUzNjI5NzcyYTMiLCJ2YWxpZCI6IjEiLCJ1c2VyaWQiOiIxIiwibmFtZSI6ImJpbGFsIiwiZXhwIjoxNjQ5NDM5NzA3LCJpc3MiOiJodHRwOi8vbXlzaXRlLmNvbSIsImF1ZCI6Imh0dHA6Ly9teXNpdGUuY29tIn0.6MFPER06bWG_GpIcRuD-gd5qbGc3NofVAs6FqIdkAuo" }
            //    success: function (res) {
            //       // alert(res);
            //    },
            //    error: function (r) {
            //        alert("error - " + JSON.stringify(r))
            //    }
            //});

            $.ajax({
                type: "GET",
                url: "https://localhost:44329/api/GetToken",
                dataType: "json",
                contentType: "application/json",
               // headers: { "Authorization": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJhMzczM2U2Ny1hNDllLTQxNzUtOGQ4NS1jNzUzNjI5NzcyYTMiLCJ2YWxpZCI6IjEiLCJ1c2VyaWQiOiIxIiwibmFtZSI6ImJpbGFsIiwiZXhwIjoxNjQ5NDM5NzA3LCJpc3MiOiJodHRwOi8vbXlzaXRlLmNvbSIsImF1ZCI6Imh0dHA6Ly9teXNpdGUuY29tIn0.6MFPER06bWG_GpIcRuD-gd5qbGc3NofVAs6FqIdkAuo" }
                success: function (res) {
                    alert(res.data);
                    // alert(JSON.stringify(res));
                     localStorage.setItem("atoken", res.data)
                },
                error: function (r) {
                    alert("error - " + JSON.stringify(r))
                }
            });
            alert(localStorage.getItem("atoken"));
            debugger;
            $.ajax({
                type: "POST",
                url: "https://localhost:44329/api/GetName2",
                dataType: "json",
                //contentType: "application/json",
                ContentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                headers: {
                   
                    "Authorization": "Bearer " + localStorage.getItem("atoken")
                }
                , success: function (res) {
                    alert(JSON.stringify(res));
                },
                error: function (r) {
                    alert("error - " + JSON.stringify(r))
                }
            });
        })
    </script>
*@



