@{
    ViewData["Title"] = "Home Page";
}

<div class="carouselWrapper">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/homepage/blue.jpg" class="d-block w-100" height="800px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/homepage/ford.jpg" class="d-block w-100" height="800px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/homepage/mini.jpg" class="d-block w-100" height="800px" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/homepage/porche.jpg" class="d-block w-100" height="800px" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class="about my-5" id="about">
<div class="text-center">
    <h1 class="display-4 text-white">About Us</h1>
    </div>
    <p class="p-0 lead text-white-50"> The advancement in Information Technology and internet penetration has greatly enhanced various business processes and communication between companies (services provider) and their customers of which car rental industry is not left out. This E-Car Rental System is developed to provide the following services: <br />
        <ul class="text-white-50">
            <li>Enhance Business Processes: To be able to use internet technology to project the rental company to the global world instead of limiting their services to their local domain alone, thus increase their return on investment (ROI). </li>
            <li>Online Vehicle Reservation: A tools through which customers can reserve available cars online prior to their expected pick-up date or time. </li>
            <li>Customer’s registration: A registration portal to hold customer’s details, monitor their transaction and used same to offer better and improve services to them.  </li>
        </ul>

</p>

</div>
<div class="my-5" id="features">
    <div class="row">
        <div class="text-center my-5">
    <h1 class="display-4 text-white">Features</h1>
</div>
    <div class="col-6">
        <img src="~/img/homepage/mini.jpg" class="img-fluid" />
    </div>
    <div class="col-6">
        <h2 class="h2">Features</h2>
        <p class="p lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis ut ipsum tempore laudantium esse exercitationem debitis fugit laboriosam doloribus ab, cupiditate illum expedita adipisci quod dolore officiis eveniet nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis ut ipsum tempore laudantium esse exercitationem debitis fugit laboriosam doloribus ab, cupiditate illum expedita adipisci quod dolore officiis eveniet nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis ut ipsum tempore laudantium esse exercitationem debitis fugit laboriosam doloribus ab, cupiditate illum expedita adipisci quod dolore officiis eveniet nihil.</p>
    </div>
</div>
</div>

<div class="my-5" id="pricing">
    <div class="row">
        <div class="text-center my-5">
    <h1 class="display-4 text-white">Pricing</h1>
</div>
   
    <div class="col-6">
        <h2 class="h2">Pricing</h2>
        <p class="p lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis ut ipsum tempore laudantium esse exercitationem debitis fugit laboriosam doloribus ab, cupiditate illum expedita adipisci quod dolore officiis eveniet nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis ut ipsum tempore laudantium esse exercitationem debitis fugit laboriosam doloribus ab, cupiditate illum expedita adipisci quod dolore officiis eveniet nihil. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corporis ut ipsum tempore laudantium esse exercitationem debitis fugit laboriosam doloribus ab, cupiditate illum expedita adipisci quod dolore officiis eveniet nihil.</p>
    </div>
     <div class="col-6">
        <img src="~/img/homepage/mini.jpg" class="img-fluid" />
    </div>
</div>
</div>

<div class="my-5" id="contact">
    <div class="row">
        <div class="text-center my-5">
    <h1 class="display-4 text-white">Contact Us</h1>
</div>
    <div class="col-6">
        <img src="~/img/homepage/mini.jpg" class="img-fluid" />
    </div>
    <div class="col-6">
        <h2 class="h2">Contact Us</h2>
        <p class="p lead">3rd Lane, KIIT Road, <br /> Bhubneshwar, Odisha - 751024</p>
        <p class="p lead">Tel : +91 9988776655</p>
        <p class="p lead">Email : hello@crsmvc.com</p>
    </div>
</div>
</div>


